*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: rgb(62, 17, 63);
}

#app{
  width: 50%;
  text-align: center;
  margin: 50px auto;
  padding: 40px;
  background-color: rgb(182, 181, 181);
  border-radius: 30px;
  color: black;

}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}